/.idea
/.env
/tine20
/other-tine20
/confroom
/docservice
/broadcasthub
/pullup.json
/data
/vendor
/cache
/cli/config.yml
/npm-cache
.DS_Store
/configs/traefik/*privkey.pem
/configs/traefik/fullchain.pem
/configs/traefik/ca.pem
/configs/traefik/dynamic/certs.yaml
**/.decrypted~*